.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

* {
  color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.calendar-container {
  height: 100vh;
  width: 100%;
  background-color: #61dafb;
}

.calendar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #16778f;
}

.calendar-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #104657;
}

.calendar-body {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: #c533cb;
}

.week-days {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ff0000;
}

.day-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.calendar-day {
  flex: 1;
}

.calendar-dayToday {
  flex: 1;
  background-color: #2b4f5b;
}

.calendar-day button{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.calendar-dayToday button{
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  background-color: #61dafb;
}

.calendar-day button:hover{
  background-color: wheat;
  cursor: pointer;
}

.calendar-dayToday button:hover{
  cursor: pointer;
  background-color: #9de4ff;
}

.calendar-navi {
  display: flex;
  flex-direction: column;
}

.calendar-navi-month {
  display: flex;
  flex-direction: row;
}

.calendar-navi-month button {
  flex: 1;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.calendar-navi-month button:hover {
  cursor: pointer;
  background-color: wheat;
}

.calendar-navi-year {
  display: flex;
  flex-direction: row;
}

.calendar-navi-year button {
  flex: 1;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
}

.calendar-navi-year button:hover {
  cursor: pointer;
  background-color: wheat;
}

.day-page {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.day-page h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.day-page p {
  font-size: 16px;
  margin-bottom: 5px;
}

.taskInput {
  margin-top: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  padding: 10px;
}

.taskInput label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.taskInput input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #2b4f5b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.taskInput input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.taskInput input[type="submit"]:hover {
  background-color: #45a049;
}

.taskInput textarea[type="text"] {
  padding: 5px;
  border: 1px solid #2b4f5b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.button {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #337ab7;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #286090;
}

.task {
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin: 5px;
}

.deleteButton {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #da2a2a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #902828;
}

.updateButton {
  margin-top: 20px;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  background-color: #dab12a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.updateButton:hover {
  background-color: #907428;
}

.task {
  background-color: #e0e0e0;
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.task h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.task p {
  margin-bottom: 10px;
}


.task .taskInput {
  margin-top: 10px;
  align-self: center;
  width: 50%;
}

.task .taskInput label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.task .taskInput input[type="text"],
.task .taskInput textarea[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #2b4f5b;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.task .taskInput input[type="submit"] {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task .taskInput input[type="submit"]:hover {
  background-color: #45a049;
}
